<html>
<head>
	<title>chat</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
</head>
<body>
	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="big">Login With Facebook</div>
				</div>
			</a>
		</div>
	</section>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
